.calc {
  &__header {
    display: grid;
    grid-template-rows: 10% 90%;
    &-delete .calc__header-button {
      text-align: right;
      display: block;
      margin-right: 3.5rem;
      text-transform: uppercase;
      color: var(--color-texto);
      letter-spacing: 0.1rem;
      font-size: 1.7rem;
      cursor: pointer;
    }
  }
  &__input {
    margin-top: auto;
    &-size {
      height: 4rem;
      width: 98%;
      background-color: transparent;
      border: none;
      text-align: right;
      font-size: 5rem;
      color: #fff;
      font-family: var(--tipo-texto);
      letter-spacing: 0.1rem;
    }
    &-size:read-write:focus {
      outline: none;
    }
    &-input-1 {
      height: 2rem;
      font-size: 2rem;
    }
  }
}
