.calc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__container {
    border-radius: 4rem;
    width: 40rem;
    height: 70rem;
    background-color: var(--color-fondo-celular);    
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  &__container-button {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    justify-items: center;
    align-items: center;
  }
  &__button{
    border-radius: 4rem;
    width:7rem;
    height:7rem;
    background-color:var(--color-primaryButton);
    grid-gap: 1rem;
  } 
}
 