.calc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__container {
    background-color: var(--color-fondo-celular);
    border-radius: 4rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 70rem;
    padding-bottom: 2rem;
    width: 40rem;
  }
}
