html{
    background-color:var(--color-fondo);
}  
*,
*::afer,
*::before{  
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html{ 
    font-size:10px;
}

body{
    color:#fff;
    font-size: 2.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing:border-box;   
    width:98vw;
    height: 98vh;      
    position:relative;    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }   