@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
:root {
  --color-fondo:#111518;
  --color-fondo-celular:#212327;
  --color-primaryButton:#2C2F32;
  --color-secondaryButton:#9481FD;
  --color-texto:#34363F;
  --tipo-Texto:'Source Sans Pro', sans-serif;
  box-sizing: border-box; }

html {
  background-color: var(--color-fondo); }

*,
*::afer,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  color: #fff;
  font-size: 2.4rem;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  width: 98vw;
  height: 98vh;
  position: relative; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.calc__container-button {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
  justify-items: center;
  align-items: center; }

.calc__button {
  border-radius: 4rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--color-primaryButton);
  grid-gap: 1rem;
  text-align: center;
  cursor: pointer; }

.calc__button--inf {
  display: inline-block;
  padding-top: 18%; }

.button-1 {
  border: solid 0.1rem var(--color-secondaryButton); }

.button-20 {
  background-color: var(--color-secondaryButton); }

.calc__header {
  display: grid;
  grid-template-rows: 10% 90%; }
  .calc__header-delete .calc__header-button {
    text-align: right;
    display: block;
    margin-right: 3.5rem;
    text-transform: uppercase;
    color: var(--color-texto);
    letter-spacing: 0.1rem;
    font-size: 1.7rem;
    cursor: pointer; }

.calc__input {
  margin-top: auto; }
  .calc__input-size {
    height: 4rem;
    width: 98%;
    background-color: transparent;
    border: none;
    text-align: right;
    font-size: 5rem;
    color: #fff;
    font-family: var(--tipo-texto);
    letter-spacing: .1rem; }
  .calc__input-size:read-write:focus {
    outline: none; }
  .calc__input-input-1 {
    height: 2rem;
    font-size: 2rem; }

.calc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .calc__container {
    background-color: var(--color-fondo-celular);
    border-radius: 4rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 60rem;
    padding: 2rem;
    width: 30rem;
    grid-gap: 1rem; }
